
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 1px 3px -2px black;
    background-color: #b3d1ff; /* Color celeste claro */
}

.logo {
    cursor: pointer;
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.welcome-text {
    color: #213547;
    font-size: 35px; 
    font-weight: bold; 
}

.menu-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar {
    display: flex;
    gap: 50px;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    color: #213547;
    font-size: 20px; /* Tamaño más grande */
    font-weight: bold; /* Texto en negrita */
    text-decoration: none;
    transition: 0.5s;
}

.navbar li a:hover, .navbar li a.active {
    color: #ff027c;
}

.login button {
    background: #ff027c;
    color: #fff;
    border-radius: 25px;
    padding: 10px 25px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.text {
    position: relative;
    display: flex;
    padding: 80px 80px;
    background: url('img/fondoHOME.jpg') no-repeat center center;
    background-size: cover;
    height: 52vh;
}
.text .left h1 {
    color: white; 
    font-size: 49px; 
}
.left h1 {
    color: #213547;
    font-size: 49px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 20px;
}

.search-box input {
    padding: 6px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
}

.search-box img {
    width: 24px;
}

footer {
    background-color: #232323;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    font-size: 14px; 
}

.footer-section h3 {
    color: #ccc;
    margin-bottom: 10px;
    font-size: 16px; 
}

.footer-section p, .footer-section a {
    margin: 5px 0;
    color: #ccc;
    text-decoration: none;
    display: block; 
}

.footer-section a:hover {
    color: #fff;
}

.app-links img {
    width: 100px;
    margin: 5px;
}

.footer-section i {
    margin-right: 5px;
}

.textpie {
  text-align: center;
    margin: auto;
}
